$font: 'Open Sans', sans-serif;

.body {
    font: 14px $font;
    color: #a9a9a9;
    opacity: 0.5;

    max-width: 992px;
    margin: 0 auto;

    *, .select2-container, .select2-container *{
        font-family: $font;
    }
}


.body.loading {
    opacity: 0.8;
}

.body.ready {
    opacity: 1;
}


.body{
    .pull-left{
        float: left;
    }

    .pull-right{
        float: right;
    }

    .text-left{
        text-align: left;
    }

    .text-right{
        text-align: right;
    }

    .text-center{
        text-align: center;
    }

    a, button, input[type="button"], input[type="submit"]{
        color: #286090;
        text-decoration: none;
        &.btn-primary, &.btn-success, &.btn-danger, &.btn-danger{
            color: #fff;
            box-shadow: none;
            background-color: #939BE8;
        }

        &.btn-default{
            background-color: #ECECEC;
            color: #637083;
        }
    }

    .form-group{
        margin-bottom: 10px;

        label{
            cursor: pointer;
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
        }
    }

    h1{
        margin: 5px 0 10px;
        font-size: 26px;
    }
}


.navigation {
    min-height: 40px;
    background-color: #A8ABC8;
    padding: 15px 10px;
    border-radius: 4px 4px 0 0;
    margin-top: 20px;
}

.layer .navigation{
    background-color: #fff;
    padding: 15px 0;
    border-radius: 0px;
    margin-top: 0;
}

.body.open {
    overflow: hidden;
}

.navigation .left-nav, .navigation .left-nav ul, .navigation .left-nav ul li, .navigation .right-nav ul li {
    float: left;
}

.navigation .left-nav ul li{
    padding: 0 5px 0 0;

    label{
        color: #E1E3F9;
        display: block;
        font-size: 12px;
    }

}

.navigation .right-nav, .navigation .right-nav ul {
    float: right;
}

.navigation .left-nav ul, .navigation .right-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation .left-nav img {
    padding-right: 5px;
}

.navigation .left-nav > ul > li a, .navigation .right-nav ul li a {
    display: block;
    text-decoration: none;
}

.navigation .left-nav > ul > li a.icon-tools {
    height: 40px;
    background-color: #a8abc8;
    color: #fff;
    border-radius: 0px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 16px;
}

.navigation .left-nav > ul > li a.icon-tools.icon {
    padding: 0 15px;
}

.navigation .left-nav > ul > li a.icon-tools span {
    font-family: $font;
    line-height: 0px;
    position: relative;
    top: -2px;
}

.navigation .left-nav > ul > li a.icon-tools.icon span {
    top: 0;
}

.navigation .right-nav ul li{

    .checkbox {
        vertical-align: middle;
        padding: 10px 15px 0px 5px;
        margin-top: 0px;
        margin-right: 8px;

        .devicons.icon-checkbox {
            width: 18px;
            background-position: 50% -631px;
            opacity: 0.8;
        }


        label {
            padding-left: 0px;
            font-family: $font;
            font-size: 14px;
            color: #e9e9e9;
            &:hover, &:focus{

                .devicons.icon-checkbox{
                    opacity: 1;
                }
            }
        }

        &.checked{
            label, label:focus, label:hover{
                color: #D5D8EF;
                opacity: 1;

                &:hover, &:focus{
                    color: #e0e4fb;
                }
            }

            .devicons.icon-checkbox-active{
                width: 18px;
                background-position: 50% -671px;
            }
        }

    }

    a {
        line-height: 40px;
        margin-left: 8px;
        border-right: 1px solid #979AB8;
        padding-right: 8px;
        color: #FFF;
        box-shadow: 3px 0px 2px -2px #B7BBDA;
        font-family: $font;
        font-size: 14px;
        text-transform: none;
    }

    &:last-child{
        a{
            border-right: none;
            box-shadow: none;
            background-color: #989BBD;
            padding-left: 8px;

            &:hover, &:focus, &:active{
                background-color: #8487AB;
            }

            &:active{
                opacity: 0.9;
            }
        }
    }
}

.navigation .left-nav > ul > li > ul {
    position: absolute;
    background: #EFF2FC;
    border-radius: 3px;
    margin-top: 0px;
    padding: 3px 0px;
    z-index: 99;
    display: none;

    &:hover{
        display: block;
    }
}


.navigation .left-nav > ul > li > ul li {
    float: none;
    display: block;
}

.navigation .left-nav > ul > li > ul li a {
    color: #A8ABC8;
    padding: 8px 15px 8px 10px;
    font-size: 16px;
}

.navigation .left-nav > ul > li > ul li a:hover, .navigation .left-nav > ul > li > ul li a:focus {
    background-color: #A8AFC7;
    color: #FFF;
}

.herolead {
    background-color: #7780ad;
    padding: 20px 0;
    display: none;
}

.signedout .herolead {
    opacity: 0;
    visibility: hidden;
}

.signedin .herolead {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s .8s;
    -moz-transition: all .5s .8s;
    -ms-transition: all .5s .8s;
    -o-transition: all .5s .8s;
    transition: all .5s .8s;
}

.herolead ul {
    list-style: none;
    display: block;
    padding: 0;
}

.herolead ul.tabs li {
    float: left;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    margin-left: -20px;

    span{
        color: #FFF;
        line-height: 50px;
        display: inline-block;
        padding-right: 10px;
    }
}

.herolead ul.tabs li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
    display: block;
}

.herolead ul.tabs li.active, .signedin .herolead ul.tabs li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    margin-left: 0px;
    position: relative;
    -webkit-transition: all .4s .4s;
    -moz-transition: all .4s .4s;
    -ms-transition: all .4s .4s;
    -o-transition: all .4s .4s;
    transition: all .4s .4s;
}

.signedin .herolead ul.tabs li {
    -webkit-transition: all .4s 1s;
    -moz-transition: all .4s 1s;
    -ms-transition: all .4s 1s;
    -o-transition: all .4s 1s;
    transition: all .4s 1s;
}

.herolead ul.tabs li.active a {
    background-color: #60699d;
}

.herolead .left-nav {
    float: left;
}

.herolead .right-nav {
    float: right;
}

.herolead .right-nav ul {
    list-style: none;
}

.herolead .right-nav ul li {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.herolead .right-nav ul li a {
    color: #FFF;
    display: block;
    font-size: 22px;
    padding: 2px 15px;
    line-height: 22px;
    height: 30px;
    border-radius: 20px;
    text-decoration: none;
}

.herolead .right-nav ul li a.prev-btn {
    background-color: #4b5792;
}

.clearfix {
    display: block;
    clear: both;
}

.layer-body{
    display: none;
}

.layer-bg, .layer, .layer-body {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.open .layer-body {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
    display: block;
}

.open .layer-bg, .open .layer, .editing .layer-bg {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.layer .layer-body .content-container {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.open .layer .layer-body .content-container {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.layer-bg {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 99;
    visibility: hidden;
}

.layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10%;
    right: -50px;
    overflow: hidden;
    z-index: 999;
    visibility: hidden;
    opacity: 0;

    input[type="text"], select{
        min-width: 50%;
    }

}

.layer .content-container {
    height: 100%;
    overflow: auto;
}

.layer .content-container .layer-body {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 100%;
    //box-shadow: -2px 0px 5px #000;
    //box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.layer .content-container .layer-body .content-container {
    opacity: 0;
    visibility: hidden;
}

.layer .content-container .layer-body .content-container {
    //max-width: 100%;
    margin: 0;
}

.open .layer-bg, .editing .layer-bg {
    opacity: 0.4;
    visibility: visible;
}

.open .layer {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.open .layer .layer-body {
    margin-left: -50px;
    padding-left: 50px;
}

.open .layer .layer-body .content-container {
    opacity: 1;
    visibility: visible;
}

body button[type="submit"].btn, body button[type="button"], body .btn, body a.btn, body a.btn:link {
    border-radius: 2px;
    border-width: 0px;
    box-shadow: none;
    min-width: inherit;
    background-image: none;
    font-size: 14px !important;
    font-family: $font;
    padding: 7px 10px;
    border-radius: 3px;

    &.cancel-btn {
        border-radius: 0px;
        border-width: 0px;
        width: 20px;
        text-align: center;
        background-color: transparent;
        color: #F5AFAF;
        border-left: 1px solid #F2F2F2;
        margin: -15px -15px 0px 0px;

        height: 45px;
        line-height: 45px;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 600;
        font-size: 1.2em;

        &:hover, &:focus{
            background-color: #F5AFAF;
            color: #fff;
            border-color: #F5AFAF;
        }
    }


    &.btn-save-inside {
        display: none;
        margin: -15px 0px 0px 0px;
        background: #9298B8;
        color: #FFF;
        opacity: 0.9;
        border-radius: 0px;
        position: relative;

        height: 45px;
        line-height: 45px;
        padding: 0 16px;
    }

}

.form-group {
    margin-top: 10px;
    font-size: 14px;
}

.form-group input[type="text"], .form-group input[type="password"] {
    display: block;
    margin-top: 5px;
    border: 2px solid #98AABE;
    font-size: 14px;
    font-family: $font;
    padding: 8px 10px;
    width: 300px;
    /*max-width: 90%;*/
}

.layer {
    small {
        display: block;
        margin-bottom: 15px;
        font-size: 12px;
    }

    .form-group{
        margin-bottom: 15px;
    }
}

@-webkit-keyframes progress {
    0% {
        left: -70px;
    }
    50% {
        left: 125%;
    }
    100% {
        left: -70px
    }
}

/* Standard syntax */
@keyframes progress {
    0% {
        left: -70px;
    }
    50% {
        left: 125%;
    }
    100% {
        left: -70px
    }
}

.status {
    position: fixed;
    right: 0px;
    top: 0px;
    background: #DBE2E7;
    height: -2px;
    z-index: 99;
    width: 100%;
    box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.loading .status {
    //visibility: visible;
    //opacity: 1;
}

.status .progressbg {
    position: relative;
    height: 5px;
    width: 15%;
    background: #7790A8;
    box-shadow: 0px 0px 20px 15px #7790A8;
    -webkit-animation: progress .9s infinite;
    -moz-animation: progress .9s infinite;
    -ms-animation: progress .9s infinite;
    -o-animation: progress .9s infinite;
    animation: progress .9s infinite;
}



.content-container{
    margin: 0 auto;
    max-width: 992px;

    &.menu-editor-container{
        max-width: 800px;
    }

    @media screen and (max-width: 1025px){
        margin: 0 20px;
    }
}

.only-editor{
    display: none;
}








/*
 Dropdowns
*/
.select2-container--default .select2-selection--single {
    background-color: #9396BA;
    border: 1px solid #9396BA;
    border-radius: 4px;
}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #FFF;
    line-height: 35px;
    font-size: 14px;
    padding-right: 40px;
}

.select2-results__option{
    text-align: left;
}





.has-tooltip{
    position: relative;

    .t-c{
        position: absolute;
        width: 200px;
        bottom: 100%;
        left: 50%;
        margin-left: -100px;
        opacity: 0.9;
        z-index: 999;
        opacity: 0;
        visibility: hidden;

        &:before{
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -5px;
            border: 10px solid transparent;
            border-top-color: #000000;
            z-index: 9999;
            content: "";
            width: 0;
            height: 0;
        }

        .t-w{
            padding: 10px;
            margin-top: -10px;
            color: #fff;
            background-color: #000000;
            font-family: $font;
            font-size: 14px;
        }
    }


    &:hover, &:focus{
        .t-c{
            opacity: 1;
            visibility: visible;
        }
    }
}








/* =Modal */
.confirmation-modal{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -200%;
    left: 0;
    visibility: hidden;
    opacity: 0;

    &.js-modal-open{
        position: relative;
        top: 0;
        width: auto;
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    .overlay{
        position: fixed;
        top: -50px;
        bottom: -50px;
        left: 0;
        right: 0;
        background-color: #000000;
        opacity: 0.5;
        z-index: 9999;
    }

    .confirmation-modal-content{
        position: fixed;
        top: 50%;
        left: 50%;
        //width: 80%;
        //height: 80%;
        //background-color: #fff;
        z-index: 99999;

        .confirmation-modal-content-wrapper{
            position: relative;
            font-size: 14px;
            display: inline-block;
            min-width: 200px;
            box-shadow: 0px 10px 15px #5A5A5A;
            border: 1px solid #AEB2E4;

            .content-wrapper{
                padding: 20px;
                border-bottom: 1px solid #AEB2E4;
                background-color: #C4C7F2;
                color: #323437;

                .modal-title{
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    margin: 0px 0px 10px;
                }

                .modal-message{
                    padding: 0;

                    ul{
                        list-style: none;
                        padding: 10px 0 0 5px;
                        margin: 0;
                        max-height: 300px;
                        overflow: hidden;
                        li{
                            line-height: 14px;
                            padding: 2px 10px 2px 0;
                            display: inline-block;

                            i{
                                vertical-align: middle;
                                margin-right: 5px;
                                top: 0;
                            }
                        }
                    }
                }

            }
            .content-footer{
                padding: 10px;
                background-color: #BDC0EC;

                a{
                    display: inline-block;
                    font-size: 14px;
                    padding: 7px 10px;
                    margin-right: 10px;
                    border-radius: 3px;
                    background-color: #ECECEC;
                    color: #637083;

                    &:active{
                        opacity: 0.8;
                    }

                    &.modal-confirmation-accept{
                        background-color: #939BE8;
                        color: #FFF;
                    }
                }
            }
        }
    }
}



.devicons.icon-checkbox.for-list{
    width: 18px;
    background-position: 50% -631px;
}

.devicons.icon-checkbox-active.for-list{
    width: 18px;
    background-position: 50% -671px;
}





/* PACE */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    background-color: rgba(100%, 100%, 100%, 0.3);
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999999;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #25a5ee;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 3px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}